In [2]:
import requests
import pandas as pd

In [3]:
df_links = pd.read_csv('links.csv')

In [7]:
df_links

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [4]:
df_movies = pd.read_csv('movies.csv')

In [5]:
df_ratings = pd.read_csv('ratings.csv')

In [6]:
df_tags = pd.read_csv('tags.csv')

In [ ]:
header = {
    'User-Agent': 'Chrome 108.0.5359.125',
    'Accept-Language': 'es'
}

In [ ]:
columnaSinopsis=[]
for idPeli in df_links['tmdbId']:
    url = "https://www.themoviedb.org/movie/"+str(idPeli)
    page = requests.get(url,headers=header)
    soup = BeautifulSoup (page.content, 'html.parser')
    sinopsis = soup.find(class_="overview")
    sinopsis = sinopsis.text
    sinopsis = str(sinopsis)
    #print(sinopsis)
    columnaSinopsis.append(sinopsis)
columnaSinopsis